body {
  background-color: #142850;
  text-align: center;
  color: #FF781F;
}

main {
  margin-top: 3em;
  display: flex;
}

h3 {
  height: 2em;
}

h2 {
  color: #FF0000;
}

img {
  height: 60%;
  width: 60%;
}

.winner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.board {
  margin: auto;
  height: 30em;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  display: none;
}

.row {
  height: 10em;
  width: 30em;
  display: flex;
  flex-direction: row;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #0C7B93;
  border-width: 0.5em;
  width: 100%;
}

.blue .box:hover {
  background-color: #1261A0;
}

.yellow .box:hover {
  background-color: #CCA42B;
}

.blue-box {
  background-color: #58CCED;
}

.board .blue-box:hover {
  background-color: #CE2029;
}

.game-over .blue-box:hover {
  background-color: #58CCED;
}

.yellow-box {
  background-color: #F3E260;
}

.board .yellow-box:hover {
  background-color: #CE2029;
}

.game-over .yellow-box:hover {
  background-color: #F3E260;
}

.top-row>.box {
  border-top: none;
}

.bottom-row>.box {
  border-bottom: none;
}

.box:nth-child(1) {
  border-left: none;
}

.box:nth-child(3) {
  border-right: none;
}