body {
  background-color: #142850;
  text-align: center;
  color: #0C7B93;
}

main {
  margin-top: 3em;
  display: flex;
}

.board {
  margin: auto;
  height: 30em;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  display: none;
}

.row {
  height: 10em;
  width: 30em;
  display: flex;
  flex-direction: row;
}

.box {
  border-style: solid;
  border-color: #0C7B93;
  border-width: 0.5em;
  width: 100%;
}

.blue-box {
  background-color: #009DFF;
}

.yellow-box {
  background-color: #FCD12A;
}

.blue .box:hover {
  background-color: #00A8CC;
}

.yellow .box:hover {
  background-color: #FEE227;
}

.top-row>.box {
  border-top: none;
}

.bottom-row>.box {
  border-bottom: none;
}

.box:nth-child(1) {
  border-left: none;
}

.box:nth-child(3) {
  border-right: none;
}